h1 { color: red}

.product-details-img { text-align: center;}
.product-details-img img { width: 80px;}

.flag-icon { width: 20px; height: 20px;}

.iconRate {color: #FE980F}
.cart { margin-left: 0px}

