h1 { color: red}
.flag-icon { width: 20px; height: 20px;}


/***** products *****/

.product-details-img { text-align: center;}
.product-details-img img { width: 80px;}


/****** CART ELEMENTS ******/

.iconRate {color: #FE980F}
.cart { margin-left: 0px}

.cartLi { margin-right: 20px;;}
#cartNbItems {
    background-color: #FE980F;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
    padding-top: 5px;
    position: absolute;
    top: -8px;
    left: 65px
}

#totalPrice { margin-left: 30px}


/*** LOGIN PAGE *****/
#loginPage { margin-bottom: 30px;}
